h1, h2, h3, h5, h6, p {
  font-family: 'Bree Serif', serif;
  color: white;
}

.custom-size {
  width: 12.5%;
}

.tournament-li {
  border: 1px solid white;
  border-radius: 1em;
  padding: 5px;
  margin-left: -17px;

}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;

}



.big-spacer {
  width: 25%;
}

.admin-view {
  border-radius: 1em;
  opacity: 0.9;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

.invite-user {
  border-radius: 1em;
}

.stats-table, .head-to-head{
  padding: 5px;
  border-radius: 1em;
}

select {
  border-radius: 1em;
}

option {
  text-align: center;
}

.vs, .head-to-head-title {
  font-size: 2em;
}

.head-to-head-title, .vs {
  text-align: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.user-1, .user-2 {
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
} 

.head-to-head  {
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;     
}