
.site-header {
	height: 30px;
	width: 300px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	opacity: 0.75;
}

.nav-list {
	list-style-type: none;
	font-size: 1.4em;
	font-family: 'Bree Serif', serif;
}

.nav-list-item {
	display: inline-block;
	margin-left: 1.5em;
	margin-right: 1.5em;

}

.login-status {
  font-family: 'Bree Serif', serif;
	color: white;
}

/*Background image for subtlepatterns.com */
body {
	background-image: url('stardust.png');
}
