h2 {
	font-family: 'Bree Serif', serif;
	text-align: center;
}

.group-name {
  color: black;
  font-family: 'Bree Serif', serif;
}

p {
	font-size: 1.5em;
	font-family: 'Bree Serif', serif;
}

ul {
	list-style-type: none;

}

.content {
	text-align: center;
	margin-top: 5em;
}

.create-group {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.create-button {
	border-radius: 1em;
}